<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="g_mulTxNum_Old" value="10" />
        <add key="menuItemForMulTxView" value="false" />
        <add key="MainFormSize.Width" value="750" />
        <add key="MainFormSize.Height" value="560" />
    </appSettings>
</configuration>